.profiles {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2rem;
  padding: 2rem;
}

.profile {
  border-radius: 5px;
  border: 1px solid var(--color-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 2rem;

  &__img-wrapper {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__header {
    margin-top: 2rem;
    font-size: 1.8rem;
    color: var(--color-primary);
  }

  &__link {
    color: inherit;
    text-decoration: none;
  }
}
